{% extends 'base.html' %}

{% block title %} Change {% endblock %}

{% block body %}

<h1>Edit Post</h1>
<form method="POST" action="/change/{{ post.id }}">
    <label for="title">Title: </label><input type="text" id="title" name="title" value="{{ post.title }}" required><br>
    <label for="content">Content: </label><input type="text" id="content" name="content" value="{{ post.content }}" required><br>
    <a href="/user/{{ post.user.id }}"><button type="button">Cancel</button></a>
    <button type="submit">Submit</button>
</form>

{% endblock %}