{% extends 'base.html' %}

{% block title %} List {% endblock %}

{% block body %}

<h1>Create a User</h1>
<form method="POST" action="/new">
    <label for="fname">First Name: </label><input type="text" id="fname" name="fname" placeholder="Enter a first name" required><br>
    <label for="lname">Last Name: </label><input type="text" id="lname" name="lname" placeholder="Enter a last name" required><br>
    <label for="image">Image URL: </label><input type="url" id="image" name="image" placeholder="Provide an image of this user"><br>
    <input type="submit">
</form>

{% endblock %}